.completed {
    line-height: 100%;
    text-align: center;
    background-color: #26a86b;
    color: white;
    border-radius: 25px;
    padding: 10px;
    cursor:default;
}

.incompleted {
    line-height: 100%;
    text-align: center;
    background-color: #a3012c;
    color: white;
    border-radius: 25px;
    padding: 10px;
    cursor:default;
}

span.completed-percenteger {
    margin: 0px;
    text-align: center;
    background-color: #26a86b;
    color: white;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}
span.incompleted-percenteger {
    margin: 0px;
    text-align: center;
    background-color: #a3012c;
    color: white;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.gone {
    display: none !important;
}

.todo {
    margin: 20px;
}

.status_changer {
    padding: 10px;
    line-height: 100%;
    border: 2px solid transparent;
    border-radius: 10%;
}
.status_changer:hover {
    border-radius: 10px;
    padding: 10px;
    line-height: 100%;
    border-bottom: 2px solid #ba0000;
    border-right: 2px solid #ba0000;
    border-top: 2px solid red;
    border-left: 2px solid red;
    cursor:pointer;
}

.percent-visualizer {
    height: 30px;
    border: 1px solid black;
    padding: 0px !important;
}

.delete-btn {
    margin: auto;
    width: 33%;
    line-height: 100%;
    font-weight: bold !important;
}

.todo-input {
    padding: 5px;
    border-radius: 13px;
}

.checkbox {
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding: 10px;
}