.completed {
    background-color: #26a86b;
    color: white;
    border-radius: 25px;
    padding: 10px;
    cursor:default;
}

.incompleted {
    background-color: #a3012c;
    color: white;
    border-radius: 25px;
    padding: 10px;
    cursor:default;
}

.todo {
    margin: 20px;
}

.status_changer {
    padding: 10px;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
}
.status_changer:hover {
    padding: 10px;
    border-bottom: 2px solid red;
    border-right: 2px solid red;
    cursor:pointer;
}

.delete-btn {
    font-weight: bold !important;
}

.todo-input {
    padding: 5px;
    border-radius: 13px;
}

.checkbox {
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding: 10px;
}